@media screen and (max-width: 575px) {
    .control-box__large [type="radio"] + label  {
        font-size: 14px;
        line-height: 1.5;
        min-height: 68px;
        padding: 12px 15px;
    }
}
