///fonts///
$font-primary: "Geometria";
$font-size: 16px;

///colors///
$background: #080807;
$system: #10100e;
$strokes: #4f4f4f;
$body-text: #8e938c;
$title: #f7ffff;
$accent: #b1ff5c;
$accent-hover: #9af03c;
$accent-secondary: #42882a;
$errors: #ff3d3d;
$verification-status-button: #ffb444;
$border: #242424;

$verification-not: #8E938C;
$verification-under: #FFB444;
$verification-verificed: #B1FF5C;
$verification-dont: #FF3D3D;

$radio-hover-bg: #152108;