<form class="form-verification">
    <div class="form-verification-head">
        <h2 class="form-verification-head-title">верифікація <span class="form-verification-status form-verification-status__dont">верифікацію не пройдено</span></h2>
        <div class="form-description">Пройдіть верифікацію особи та отримайте можливість здійснювати обмін фіатних валют та доступ до реферальної програми</div>
    </div>

    <fieldset class="form-verification__country">
        <h5>країна знаходження</h5>
        <div>
            <select name="country">
                <option value="country-option" data-display="країна">країна</option>
                <option value="ua">Україна</option>
                <option value="pl">Польща</option>
                <option value="ch">Чехія</option>
            </select>
        </div>
    </fieldset>

    <fieldset class="form-verification__info">
        <h5>особиста інформація</h5>
            <input type="text" name="firstname" placeholder="ім’я">
            <input type="text" name="lastname" placeholder="прізвище">
            <input type="text" name="fathername" placeholder="по батькові">
            <input type="tel" placeholder="телефон">

            <input type="text" data-calendar placeholder="дата народження">
            
        <div class="control-box">
            <h6 class="control-box__title">стать</h6>
            <div class="radio-box">
                <input type="radio" id="female" name="gender">
                <Label for="female">жіноча</Label>
            </div>
            <div class="radio-box">
                <input type="radio" id="male" name="gender">
                <Label for="male">чоловіча</Label>
            </div>
        </div>
    </fieldset>

    <fieldset class="form-verification__adress">
        <h5>адреса проживання</h5>
        <input type="text" name="city" placeholder="місто">
        <input type="text" name="adress" placeholder="вулиця">
        <div class="input-row">
            <input type="number" name="hous" placeholder="будинок">
            <input type="number" name="flat" placeholder="квартира">
            <input type="number" name="index" placeholder="індекс">
        </div>
    </fieldset>

    <fieldset class="form-verification__document">
        <div class="control-box">
            <h5 class="control-box__title">підтвердження особистості</h5>
            <div class="control-box-list">
                <h6>тип документу</h6>
                    <div class="form-row  control-box__large">
                        <div class="radio-box radio-box__large">
                            <input type="radio" id="passport" name="document">
                            <Label for="passport">паспорт</Label>
                        </div>
                        <div class="radio-box radio-box__large">
                            <input type="radio" id="foreign-passport" name="document">
                            <Label for="foreign-passport">закордонний паспорт</Label>
                        </div>
                        <div class="radio-box radio-box__large">
                            <input type="radio" id="ID-card" name="document">
                            <Label for="ID-card">ID-картка</Label>
                        </div>
                        <div class="radio-box radio-box__large">
                            <input type="radio" id="drivers-license" name="document">
                            <Label for="drivers-license">посвідчення водія</Label>
                        </div>
                    </div>
                <div class="control-box__dropzone">
                    <h6>завантажте документ</h6>
                    @@include('drope-zone.html')
                </div>
            </div>
            <div class="radio-box toggle-checbox">
                <input type="checkbox" id="validity-period" name="validity-period-doc">
                <label for="validity-period" class="validity-period-chek">
                    <span>немає терміну дії</span>
                    <span>за умови відсутності терміну дії документу</span>
                </label>
            </div>

            <input type="text" data-calendar placeholder="термін дії документу">

            <button type="submit">продовжити</button>
        </div>
    </fieldset>
</form>