<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#080807">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <title>Сборка Markup</title>
    <link rel="stylesheet" type="text/css" href="assets/css/reset.css" />
    <link rel="stylesheet" href="assets/css/nice-select.css">
    <link rel="stylesheet" href="assets/css/jquery-ui.structure.css">
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
